#hubspot-form {
  display: block;

  /* To avoid CLS we set an initial min-height... */
  min-height: 21rem;
  box-sizing: border-box;

  /* ...and override it when the form is loaded */
  &:has(form) {
    min-height: auto;
  }

  form > div {
    margin-bottom: 1rem;

    ul {
      padding: 0 0.25rem;
      margin-top: 0.5rem;
    }
  }

  input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid gray;
    border-radius: 0.625rem;
    background-color: var(--background);

    &[type="submit"] {
      padding: 0.7rem 1rem;
      border: none;
      border-radius: 10rem;
      background-color: hsl(var(--primary));
      color: hsl(var(--primary-foreground));
      cursor: pointer;
      font-weight: 300;
    }
  }

  /* Submit styles can or cannot be tailwind components despite not recommended
  anymore in docs */
  .hs-submit {
    width: fit-content;
    border: none;
    margin: 0 auto;
    background-color: var(--primary);
    color: var(--primary-foreground);
    cursor: pointer;
  }
}
